{{#if header}}
	<{{../headerTag}} class="table-header">{{../header}}</{{../headerTag}}>
{{/if}}

<table class="{{tableClassName}}">
	<thead>
		<tr>
		{{#columns}}
			<th scope="col" {{#if width}}width="{{../width}}"{{/if}} class="{{#if className}}{{../className}}{{/if}} {{#is id ../order}}sort-{{../../sort}}{{/is}}">
				{{#if id}}
					<a href="#" data-id="{{../id}}" class="sort">{{{../name}}}</a>
					<i class="sort-icon asc fa fa-sort-asc"></i>
					<i class="sort-icon desc fa fa-sort-desc"></i>
				{{/if}}
				{{#not id}}
					{{{../name}}}
				{{/not}}
			</th>
		{{/columns}}
		</tr>
	</thead>
	<tbody></tbody>
	<tfoot></tfoot>
</table>

<div class="pagination"></div>