{{#if divider}}
	<a>&hellip;</a>
{{else}}
	<a href="{{#if href}}{{href}}{{else}}#{{/if}}" {{#if class}}class="{{class}}"{{/if}} {{#if label}}data-label="{{label}}"{{/if}}>
		{{#if label}}<span aria-hidden="true">{{{label}}}</span>{{/if}}{{#if page}}{{page}}{{/if}}
	</a>
{{/if}}
