<a href="#" class="close"><i class="fa fa-times-circle"></i></a>

<div class="row">

	{{#if icon}}
		<div class="col-sm-2">
			<i class="fa fa-{{icon}} icon"></i>
		</div>
		<div class="col-lg-10">
			{{#if title}}<h3>{{title}}</h3>{{/if}}

			{{#if message}}<p>{{message}}</p>{{/if}}
		</div>
	{{else}}
		<div class="col-lg-12">
			{{#if title}}<h3>{{title}}</h3>{{/if}}

			{{#if message}}<p>{{message}}</p>{{/if}}
		</div>
	{{/if}}

</div>
