{{#if header}}
	<{{headerTagName}}>{{header}}</{{headerTagName}}>
{{/if}}

{{#if description}}
	<p {{#if descriptionClassName}}class="{{descriptionClassName}}"{{/if}}>{{description}}</p>
{{/if}}

{{#if options}}
	{{#options}}
	<div class="{{../inputClassName}}">
		<label {{#if id}}for="{{id}}"{{/if}} {{#if ../labelClassName}}class="{{../labelClassName}}"{{/if}}>
			<input type="{{../type}}" name="{{../name}}{{#is ../type "checkbox"}}[]{{/is}}" {{#if ../id}}id="{{../id}}"{{/if}} value="{{value}}"> {{label}}
		</label>
	</div>
	{{/options}}
{{else}}
	<div class="{{inputClassName}}">
		<label {{#if id}}for="{{id}}"{{/if}} {{#if labelClassName}}class="{{labelClassName}}"{{/if}}>
			<input type="{{type}}" name="{{name}}" {{#if id}}id="{{id}}"{{/if}} value="{{value}}">
		</label>
	</div>
{{/if}}
