<div class="activity-indicator-dimmer {{#if dimmed}}dimmed{{/if}}" style="{{#if minHeight}}min-height:{{../minHeight}};{{/if}} {{#if position}}position:{{../position}};{{/if}} {{#if dimmedBgColor}}background-color: {{../dimmedBgColor}};{{/if}}">

	<span class="activity-indicator">{{#if label}}<span class="activity-indicator-label" style="{{#if ../labelFontSize}}font-size:{{../../labelFontSize}}{{/if}}"><span class="activity-indicator-label-text">{{../label}}</span></span>{{/if}}</span>

</div>
