{{#if header}}<{{../headerTag}}>{{../header}}</{{../headerTag}}>{{/if}}

{{#if errorIcon}}<div class="wizard-error-icon"><i class="{{../errorIcon}}"></i></div>{{/if}}

{{#if message}}{{../message}}{{/if}}
