<div class="wizard-progress-bar">
{{#steps}}
    <div class="wizard-step disabled {{#if options.complete}}{{../../completeClassName}}{{/if}}" data-step="{{options.step}}">
        {{#if label}}
            <span class="wizard-step-label">{{../label}}</span>
        {{/if}}

        {{#not options.label}}
            {{#if ../options.title}}
                <span class="wizard-step-label">{{../../title}}</span>
            {{/if}}
        {{/not}}

        <a {{#if options.title}}title="{{../options.title}}"{{/if}}></a>
    </div>
{{/steps}}
</div>
