{{#if header}}<{{../headerTagName}}>{{../header}}</{{../headerTagName}}>{{/if}}

{{#if successIcon}}<div class="wizard-success-icon"><i class="{{../successIcon}}"></i></div>{{/if}}

{{#if message}}{{../message}}{{/if}}
