<div class="wizard-progress-bar">
{{#steps}}
    <div class="wizard-step disabled {{#if complete}}{{../completeClassName}}{{/if}}" data-step="{{step}}">

        {{#if label}}
            <span class="wizard-step-label">{{../label}}</span>
        {{/if}}

        {{#not title}}
            <span class="wizard-step-label">{{../title}}</span>
        {{/not}}

        <a title="{{options.title}}"></a>
    </div>
{{/steps}}
</div>
