{{#if header}}<{{../headerTag}}>{{../header}}</{{../headerTag}}>{{/if}}

{{#if successIcon}}<div class="wizard-success-icon"><i class="{{../successIcon}}"></i></div>{{/if}}

{{#if message}}{{../message}}{{/if}}
