{{#if header}}
    <{{../headerTag}} class="{{../headerTagClassName}}">{{../header}}</{{../headerTag}}>
{{/if}}

{{#if description}}
    <p>{{../description}}</p>
{{/if}}

<div id="wizard-progress"></div>
    
<div id="wizard-content"></div>

<div id="wizard-buttons"></div>
