{{#if divider}}

{{else}}
	<a href="{{href}}">{{#if icon}}<i class="{{icon}}"></i> {{/if}}{{#if value}}{{value}}{{/if}}{{#if label}}{{label}}{{/if}} {{#if badge}}<span class="{{badgeClassName}}">{{badge}}</span>{{/if}}</a>
{{/if}}
